<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/art_music.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home" />
    <title>Apagar Conta</title>
</head>
<body>
    <h1>Deseja apagar sua conta?</h1>
    <form method="POST">
        <button type="submit">Confirmar Exclusão</button>
        <a href="{{ url_for('home') }}">Cancelar</a>
    </form>
</body>
</html>
