<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/art_music.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home" />
    <title>Partituras</title>
</head>
<body>
    <ul class="abas_ul">
        <a href="{{ url_for('home') }}" class="abas_a" id="abas_a1">
            <li class="abas">Home</li>
        </a>
        <a href="{{ url_for('partituras') }}" class="abas_a" id="abas_a2">
            <li class="abas">Partituras</li>
        </a>
        <a href="{{ url_for('adicionar_partitura') }}">
            <li class="abas">Adionar Nova Partitura</li>
        </a>
        <a href="{{ url_for('cifras') }}" class="abas_a" id="abas_a3">
            <li class="abas">Cifras</li>
        </a>
        <a href="{{ url_for('tablaturas') }}" class="abas_a" id="abas_a4">
            <li class="abas">Tablaturas</li>
        </a>
    </ul>

    <hr>

    <div class="partituras-container">
        <h2>Partituras Disponíveis</h2>
        {% if partituras %}
        <table>
            <thead>
                <tr>
                    <td>Título</td>
                    <td>Compositor</td>
                    <td>Gênero</td>
                </tr>
            </thead>
            <tbody>
                {% for partitura in partituras %}
                <tr>
                    <td>
                        <!-- Link para visualizar o PDF -->
                        <a href="{{ url_for('ver_pdf', id=partitura['id']) }}" target="_blank">{{ partitura['nome'] }}</a>
                    </td>
                    <td>{{ partitura['descricao'] }}</td>
                    <td>{{ partitura['estilo_musical'] }}</td>
                    <td>
                        <a href="{{ url_for('editar_partitura', id=partitura['id']) }}" class="abas_a">Editar</a>
                        <form action="{{ url_for('excluir_partitura', id=partitura['id']) }}" method="POST" style="display:inline;">
                            <button type="submit" class="abas_a" onclick="return confirm('Tem certeza que deseja excluir esta partitura?');">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        {% else %}
        <p>Nenhuma partitura disponível no momento.</p>
        {% endif %}
    </div>

</body>
</html>
