<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Partituras</title>
</head>
<body>
    <ul class="abas_ul">
        <a href="{{ url_for('home') }}" class="abas_a" id="abas_a1">
            <li class="abas">Home</li>
        </a>
        <a href="{{ url_for('partituras') }}" class="abas_a" id="abas_a2">
            <li class="abas active">Partituras</li>
        </a>
        <a href="{{ url_for('cifras') }}" class="abas_a" id="abas_a3">
            <li class="abas">Cifras</li>
        </a>
        <a href="{{ url_for('tablaturas') }}" class="abas_a" id="abas_a4">
            <li class="abas">Tablaturas</li>
        </a>
    </ul>

    <hr>

    <!-- Conteúdo principal: Tabela de Partituras -->
    <div class="partituras-container">
        <h2>Partituras Disponíveis</h2>
        {% if partituras %}
        <table>
            <thead>
                <tr>
                    <td>Título</td>
                    <td>Compositor</td>
                    <td>Gênero</td>
                </tr>
            </thead>
            <tbody>
                {% for partitura in partituras %}
                <tr>
                    <td>{{ partitura['nome'] }}</td>
                    <td>{{ partitura['descricao'] }}</td>
                    <td>{{ partitura['estilo_musical'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhuma partitura disponível no momento.</p>
        {% endif %}
    </div>

</body>
</html>
