<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Partituras</title>
</head>
<body>
    <ul class="abas_ul">
        <a href="/" class="abas_a" id="abas_a1">
            <li class="abas">Partituras</li>
        </a>
        <a href="/gospel" class="abas_a" id="abas_a1">
            <li class="abas">Gospel/Religioso</li>
        </a>
        <a href="/rock" class="abas_a" id="abas_a1">
            <li class="abas">Rock</li>
        </a>
    </ul>
    <hr>
    <ul class="tipos_ul">
        {% for tipo in dados['tipos'] %}
            <li class="tipos_li" id="{{ tipo | lower }}" onclick="selecionar('{{ tipo | lower }}')">{{ tipo }}</li>
        {% endfor %}
    </ul>

    <div id="conteudo-selecionado">
        {% for tipo, conteudos in dados['conteudos'].items() %}
            <h2>{{ tipo.capitalize() }}</h2>
            <table>
                <thead>
                    <tr>
                        <td>Banda/Grupo</td>
                        <td>QTD</td>
                    </tr>
                </thead>
                <tbody>
                    {% for banda in conteudos %}
                        <tr>
                            <td>{{ banda['banda'] }}</td>
                            <td>{{ banda['qtd'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</body>
</html>
