<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/art_music.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home" />
    {% if nome %}
        <title>Perfil de {{ nome }}</title>
    {% else %}
        <title>Perfil do Usuário</title>
    {% endif %}
</head>
<body>
    <h1>Perfil do Usuário</h1>

    {% if foto_perfil %}
        <p><strong>Foto de Perfil:</strong></p>
        <img src="{{ url_for('static', filename=foto_perfil) }}" alt="Foto de Perfil" width="150" class="foto_perfil">
    {% else %}
        <p>Você ainda não tem uma foto de perfil.</p>
    {% endif %}

    <form action="{{ url_for('upload_foto') }}" method="POST" enctype="multipart/form-data">
        <label for="foto_perfil">Escolha uma foto de perfil:</label><br>
        <input type="file" name="foto_perfil" accept="image/*">
        <button type="submit" id="submit">Enviar Foto</button>
    </form>

    {% if nome %}
        <p><strong>Nome:</strong> {{ nome }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
    {% else %}
        <p>Usuário não está logado.</p>
    {% endif %}

    <a href="{{ url_for('logout') }}">
        <button id="submit">Sair da Conta</button>
    </a><br>

    <a href="{{ url_for('home') }}">
        <span class="material-symbols-outlined">
            home
            </span>
        Voltar para a home
    </a>
</body>
</html>
