<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Tablaturas</title>
</head>
<body>
    <ul class="abas_ul">
        <a href="{{ url_for('home') }}" class="abas_a" id="abas_a1">
            <li class="abas">Home</li>
        </a>
        <a href="{{ url_for('partituras') }}" class="abas_a" id="abas_a2">
            <li class="abas">Partituras</li>
        </a>
        <a href="{{ url_for('cifras') }}" class="abas_a" id="abas_a3">
            <li class="abas">Cifras</li>
        </a>
        <a href="{{ url_for('tablaturas') }}" class="abas_a" id="abas_a4">
            <li class="abas active">Tablaturas</li>
        </a>
    </ul>
    

    <hr>

    <div class="tablaturas-container">
        <h2>Tablaturas Disponíveis</h2>
        {% if tablaturas %}
        <table>
            <thead>
                <tr>
                    <td>Título</td>
                    <td>Artista</td>
                    <td>Gênero</td>
                </tr>
            </thead>
            <tbody>
                {% for tablatura in tablaturas %}
                <tr>
                    <td>{{ tablatura['titulo'] }}</td>
                    <td>{{ tablatura['artista'] }}</td>
                    <td>{{ tablatura['genero'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhuma tablatura disponível no momento.</p>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/abas.js') }}"></script>
</body>
</html>
